body{
    background-color: aquamarine;
    padding-top: 0%;
}

#nav ul{
    position: fixed;
    width: 100%;
    background-color: mediumorchid;
    text-align: center;
    list-style: none;
    padding: 10px;
    margin: 0px;
    
}

#nav ul li{
    display: inline;
    padding: 0 20px 0 20px;
}